*.class
*.iml
*.idea
.settings
.project
*.sass-cache
target
doc
.java-version
*.releaseBackup
release.properties
README.html

# Package Files #
*.jar
*.war
*.ear
*.iml

.settings/*
api/.classpath
api/.project
api/.settings/*
api/target/*
api/doc/*
omod/.classpath
omod/.project
omod/.settings/*
omod/target/*
omod/doc/*
/.settings